<main>
  <!--  <div class=logo></div>-->
  <div class=left></div>
  <div class=center>
    <form name="login" method="POST">
      <div class=logo></div>
      <label>Email Address</label>
      <input type="email" name="email"/>
      <label>Password</label>
      <input type="password" name="password" />
      <div class=link><a href=# target="_blank">Forgot email of password?</a></div>
      <div class="group info">
        <input type="checkbox" />
        <div class=copy>Remember this device</div>
        <div class=i></div>
      </div>
      <button class=signin type="submit">
        <div class=i></div>Sign In
      </button>
      <div class=group>
        <hr />
        <div class=separator>or sign in with</div>
        <hr />
      </div>
      <button class=google>
        <div class=i></div>Google
      </button>
      <div class="group other">
        <button class=xero>
          <div class=i></div>Xero
        </button>
        <button class=intuit>
          <div class=i></div>Intuit
        </button>
      </div>
      <div class="group help">
        Need help?<a href=#>Visit our Help Center.</a>
      </div>
    </form>
    <footer>
      <div class=link><a href=# target="_blank">Don't have an employee account?</a></div>
      <div class=link><a href=# target="_blank">Want to sign your company up with Gusto?</a></div>
      <div class=link>© 2020 <a href=# target="_blank">Gusto</a></div>
    </footer>
  </div>
  <div class=right></div>
</main>
<aside>
  <div class=box>
    <div class=i></div>
    <div class=title>{{title}}</div>
    <div class=description>{{description}}</div>
  </div>
</aside>
